
<div class="container  mt-3">
<h1>Introduce una temática para buscar</h1>
Temática:<input type="text" [(ngModel)]="tematicaSelecionada"> <br><br>
<button (click)="buscar()">Buscar</button><br><br><br>

<div *ngIf="resultados">
    <table border="1">
      <tr>
        <th>Direccion </th>
        <th>Temática </th>
        <th>Descripción </th>

      </tr>
      <tr *ngFor="let m of resultados">
          <td>{{m.url}}</td>
          <td>{{m.tematica}}</td>
          <td>{{m.descripcion}}</td>

      </tr>
    </table>
  </div>
</div>




 
